{% extends 'layouts/user.html' %}

{% set page_title = 'Profile' %}

{% block card_right %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><b>Update Profile Picture</b></h5>
        <div class="col-md-6">
            <form class="form" action="{{ url_for('user.profile_pic') }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                {% if current_user.image_url %}
                    <img src="{{ current_user.image_url }}" alt="{{ current_user.image_filename }}" style="width:128px;height:128px;">
                {% endif %}


                </br></br></br>

                <label for="profile_pic" class="sr-only">{{ form.profile_pic.label }}</label>
                {{ form.profile_pic(
                    title=form.profile_pic.label.text, required=False) }}

                </br></br>
                {{ form.submit(class="btn btn-lg btn-primary btn-block") }}

            </form>
        </div>
    </div>
</div>
{% endblock %}

