{% extends 'layouts/base.html' %}

{% set page_title = 'Catalog' %}

<!--no topbar on home page-->
{% block topbar %}
{% endblock %}


{% block body %}
<div class="jumbotron">
    <h1>Catalog</h1>
    <p>CRUD a catalog via browser or REST JSON API 1.0.</p>
    <p>
      <p>
       {% if current_user.is_authenticated and current_user.confirmed %}
         <a role="button" href="{{ url_for('catalog.categories')}}" class="btn btn-lg btn-primary"><strong>Enter »</strong></a>
         <a role="button" href="{{ url_for('auth.logout')}}" class="btn btn-lg btn-primary"><strong>Log Out »</strong></a>
       {% else%}
         <a role="button" href="{{ url_for('catalog.categories')}}" class="btn btn-lg btn-primary"><strong>Visit »</strong></a>
         <a role="button" href="{{ url_for('auth.register')}}" class="btn btn-lg btn-primary"><strong>Register »</strong></a>
         <a role="button" href="{{ url_for('auth.login')}}" class="btn btn-lg btn-primary"><strong>Log in »</strong></a>
       {% endif %}
    </p>
    <p><small><small>
      Database is prepopulated with content from <a href="https://www.beeradvocate.com/beer/style/">beeradvocate</a>,
      Icons made by <a href="https://www.flaticon.com/free-icon/beer-stein_66387" title="Freepik">Freepik</a>
    </small></small></p>
</div>
{% endblock %}
