<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<!-- Bootstrap: Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta name="description" content="Catalog">
		<meta name="author" content="Arjaan Buijk">
		<title>{% block title %}{{ page_title }}{% endblock %}</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
		{% block css %}{% endblock %}

		{% block jshead1 %}{% endblock %}
		<!-- Bootstrap: Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<!-- Do not use slim version when using $.ajax calls -->
		<!-- See: https://stackoverflow.com/questions/18271251/typeerror-ajax-is-not-a-function -->
		<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->

		<!-- Get latest code integration snippets from: https://code.jquery.com/-->
		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>

		<script
			src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css">

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>

		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>

		<!--jQuery-ui modal confirmation dialog that asks confirmation to delete
			see: https://jqueryui.com/dialog/#modal-confirmation
				 http://jsfiddle.net/Raitono/jcxv8qom/1/ -->
		<script type="text/javascript">
			// set properties of dialog
			$(document).ready(function() {
				$("#div_confirm_delete").dialog({
					autoOpen: false,
					resizable: false,
					height: "auto",
					width: 400,
					modal: true
				});
			});

			// define function that handles the dialog
			// - directs to target url if confirmed
			// - does nothing if canceled or closed
			function confirmDeleteFn( jQuery ) {
				$('.confirm-delete').click(function(e) {
					e.preventDefault();
					var targetUrl = $(this).attr("href");
					$( "#div_confirm_delete" ).dialog({
						buttons : {
							"Delete" : function() {
								window.location.href = targetUrl;
							},
							"Cancel" : function() {
								$(this).dialog("close");
							}
						  }
					  });

					$("#div_confirm_delete").dialog("open");
				});
			}

			// define the function once document is fully loaded
			$( document ).ready( confirmDeleteFn );
		</script>

		{% block jshead2 %}{% endblock %}
	</head>
	<body class="">
	    {% block topbar %}
			<!--For different navbar approaches, see: https://getbootstrap.com/docs/4.0/examples/navbars/-->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<div class="container">

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar01" aria-controls="navbar01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbar01">

						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
							  <a class="nav-link" href="{{ url_for('auth.index') }}"><img src="{{ url_for('static', filename='img/logo-inverse.png') }}"/> <span class="sr-only">(current)</span></a>
							</li>
							{% if current_user.blocked %}
							{% else %}
								{% if current_user.is_authenticated and current_user.confirmed %}
									<li class="nav-item">
									  <a class="nav-link"  href="{{ url_for('catalog.categories') }}">Catalog</a>
									</li>
									<!--
									<li class="nav-item">
									  <a class="nav-link disabled" href="#">Disabled</a>
									</li>
									-->
								{% endif %}
							{% endif %}
						</ul>


						<!--TODO: Implement search
						<form class="form-inline my-2 my-lg-0">
							<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
						</form>
						-->

						<ul class="navbar-nav navbar-right">
							<li class="nav-item  dropdown">
								{% if current_user.is_authenticated and current_user.confirmed %}
									<a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ current_user.first_name+" "+current_user.last_name }}</a>
									<div class="dropdown-menu dropdown-menu-right"  aria-labelledby="dropdown01">
										<a class="dropdown-item" href="{{ url_for('user.profile') }}">Profile</a>
										<a class="dropdown-item" href="{{ url_for('auth.reset_password_request') }}">Reset Password</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" a href="{{ url_for('auth.logout') }}">Log out</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item confirm-delete" href="{{ url_for('user.delete_account') }}">Delete Account</a>
									</div>
								{% else %}
									<a class="nav-link dropdown-toggle"  id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Register/Login</a>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown02">
										<a class="dropdown-item" href="{{ url_for('auth.register') }}">Register</a>
										<a class="dropdown-item" href="{{ url_for('auth.login') }}">Log in</a>
									</div>
								{% endif %}
							</li>
						</ul>
					</div>
				</div>
			  </nav>
	    {% endblock %}

		<!-- Put a little gap below the navbar -->
		{% block navgap %}
		</br>
	    {% endblock %}


	    {% block container %}
	    <div class="container">
	        {% block flash_message %}
	            {% with messages = get_flashed_messages(with_categories=True) %}
	                {% if messages %}
	                    {% for category, msg in messages %}
	                        <div class="alert alert-{{ category }}">
	                            {{ msg|safe }}
	                        </div>
	                    {% endfor %}
	                {% endif %}
	            {% endwith %}
	        {% endblock %}

			<!--jQuery-ui script above turns this into a modal confirmation dialog-->
			<div id="div_confirm_delete" title="Delete?">
				<p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Deletion is permanent and cannot be recovered. Are you sure?</p>
			</div>

	        {% block body %}{% endblock %}
	    </div>
	    {% endblock %}

		{% block footer %}
			<footer class="container">
				<p class="mt-5 mb-3 text-muted">&copy; {{ config['COPYRIGHT'] }}</p>
			</footer>
		{% endblock %}

		<!-- TODO: Put Google Analytics here-->
	</body>
</html>
