<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<!-- Bootstrap: Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta name="description" content="Calories">
		<meta name="author" content="Arjaan Buijk">
		<title>{% block title %}{{ page_title }}{% endblock %}</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
		{% block css %}{% endblock %}

		{% block jshead %}{% endblock %}
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>
	<body class="{% block body_class %}{% endblock %}">
	    {% block topbar %}
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbar">

					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
						  <a class="nav-link" href="{{ url_for('auth.index') }}"><img src="{{ url_for('static', filename='img/logo-inverse.png') }}"/> <span class="sr-only">(current)</span></a>
						</li>
						{% if current_user.blocked %}
						{% else %}
							{% if current_user.is_authenticated and current_user.is_active %}
								<li class="nav-item">
								  <a class="nav-link"  href="{{ url_for('meal.meals') }}">Calories</a>
								</li>
								<!--
								<li class="nav-item">
								  <a class="nav-link disabled" href="#">Disabled</a>
								</li>
								-->
							{% endif %}
						{% endif %}
					</ul>


					<!--TODO: Implement search
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
					-->

					<ul class="navbar-nav navbar-right">
						<li class="nav-item  dropdown">
							{% if current_user.is_authenticated and current_user.is_active %}
								<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ current_user.name }}</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
									<a class="dropdown-item" href="{{ url_for('user.profile') }}">Profile</a>
									<a class="dropdown-item" href="{{ url_for('user.profile_pic') }}">Profile Picture</a>
									<a class="dropdown-item" href="{{ url_for('auth.password') }}">Password</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" a href="{{ url_for('auth.logout') }}">Log out</a>
								</div>
							{% else %}
								<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Register/Login</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
									<a class="dropdown-item" href="{{ url_for('auth.register') }}">Register</a>
									<a class="dropdown-item" href="{{ url_for('auth.login') }}">Log in</a>
								</div>
							{% endif %}
						</li>
					</ul>
				</div>
			  </nav>
	    {% endblock %}

		<!-- Put a little gap below the navbar -->
		{% block navgap %}
		</br>
	    {% endblock %}


	    {% block container %}
	    <div class="container">
	        {% block flash_message %}
	            {% with messages = get_flashed_messages(with_categories=True) %}
	                {% if messages %}
	                    {% for category, msg in messages %}
	                        <div class="alert alert-{{ category }}">
	                            {{ msg|safe }}
	                        </div>
	                    {% endfor %}
	                {% endif %}
	            {% endwith %}
	        {% endblock %}

	        {% block body %}{% endblock %}
	    </div>
	    {% endblock %}

		{% block footer %}
			<footer class="container">
				<p class="mt-5 mb-3 text-muted">&copy; {{ config['COPYRIGHT'] }}</p>
			</footer>
		{% endblock %}

		<!-- TODO: Put Google Analytics here-->

		<!-- Bootstrap: Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
