{% extends "layouts/base.html" %}

{% block body %}
<div class="row">
	<div class="col-md-3">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title"><b>{{ current_user.name }}</b></h5>
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="nav-link {% if request.endpoint == 'user.profile' %}active{% endif %}" href="{{ url_for('user.profile') }}">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if request.endpoint == 'user.profile_pic' %}active{% endif %}" href="{{ url_for('user.profile_pic') }}">Profile Picture</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
    <div class="col-md-9">
		{% block card_right %}
		{% endblock %}
	</div>
</div>
{% endblock %}
