{% extends "layouts/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block jshead %}
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
{% endblock %}


{% block body_class %}
    text-center
{% endblock %}

{% block body %}
    {% block body_1 %}{% endblock %}

    <hr>
    <div>or sign in with this service</div>

    <!-- GOOGLE PLUS SIGN IN BUTTON-->
    <!-- TODO: in production version, disable data-approvalprompt="force"-->
    <div id="signinButton">
        <span class="g-signin"
            data-scope="openid email"
            data-clientid="{{google_oauth2_client_id}}"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
        </span>
    </div>

    <!--Placeholder to present feedback to user based on response from
    our application server.
    See $('#result') below-->
    <div id="result"></div>

    <script>
    function signInCallback(authResult) {
        // this indicates that the authorization with the Google API was
        // successful, and our one-time use code is present.
        if (authResult['code']) {
            // Hide the sign-in button now that the user is authorized
            // Using jQuery... '$'
            $('#signinButton').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server
            // responds, write a 'login successful' message to the web page
            // and then redirect back to the main page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{state}}',
                processData: false,
                data: authResult['code'],
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    // Redirect to main page after 4 seconds
                    if (result) {
                        //$('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                        setTimeout(function() {
                            window.location.href = "{{url_for('catalog.categories')}}";
                            }, 4000);
                    }
                }
            });
        }
        else if (authResult['error']) {
            console.log('There was an error reported by Google+ API: ' + authResult['error']);
        }
        else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
    }
    </script>
    <!--END GOOGLE PLUS SIGN IN BUTTON -->

    <p class="mt-5 mb-3 text-muted">&copy; {{ config['COPYRIGHT'] }}</p>
{% endblock %}

{% block footer %} {% endblock %}
