{% extends "auth/login_oauth.html" %}

{% set page_title = 'Log in' %}

{% block body_1 %}
	<form class="form-login" method="POST" >
        <!--Tell Flask-WTF to include CSRF protection in a FlaskForm-->
        {{ form.hidden_tag() }}

        <!--Logo-->
		<img class="mb-4" src="{{ url_for('static', filename='img/logo-64x64.png') }}" alt="" width="64" height="64">

		<!--Email & Password & 'Rembember me' fields-->
        <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>

		<!--
		Notes:
		 - sr-only class hides the label, but ensures it is there for screen-readers
		 - no need to put curlies around form.email.label.text inside curlies, because everything
			inside curlies is already a python expression!
		 - placeholder is shown inside the box.
		 - title is a popup tooltip
		-->
        <label for="email" class="sr-only">{{ form.email.label }}</label>
        {{ form.email(class="form-control", placeholder=form.email.label.text,
			title=form.email.label.text, required=True, autofocus=True) }}

        <label for="password" class="sr-only">{{ form.password.label }}</label>
        {{ form.password(class="form-control", placeholder=form.password.label.text,
			title=form.password.label.text, required=True) }}

        <p>{{ form.remember() }} {{ form.remember.label }}</p>

        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}


		<p class="text-muted">
			No account? <a href="{{ url_for('auth.register') }}">Register</a>
		</p>

	</form>
{% endblock %}

{% block footer %} {% endblock %}
