{% extends "layouts/auth.html" %}



{% block jshead1 %}
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
{% endblock %}


{% block row_for_oauth %}
    <div class="col-md-12">
        <hr>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-8" id='wrapper' style='text-align: center;'>
            <div>or sign in with this service</div>

            <!-- GOOGLE PLUS SIGN IN BUTTON-->
            <!-- TODO: in production version, disable data-approvalprompt="force"-->
            <div id="signinButton">
                <span class="g-signin"
                    data-scope="openid email"
                    data-clientid="{{google_oauth2_client_id}}"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback"
                    data-approvalprompt="force">
                </span>
            </div>

            <!--Placeholder to present feedback to user based on response from
            our application server.
            See $('#result_message') below-->
            <div id="result_message"></div>

            <script>
            function signInCallback(authResult) {
                // this indicates that the authorization with the Google API was
                // successful, and our one-time use code is present.
                if (authResult['code']) {
                    // Hide the sign-in button now that the user is authorized
                    // Using jQuery... '$'
                    $('#signinButton').attr('style', 'display: none');
                    // Send the one-time-use code to the server, if the server
                    // responds, write a 'login successful' message to the web page
                    // and then redirect back to the main page
                    $.ajax({
                        type: 'POST',
                        url: '/gconnect?state={{state}}&next={{nxt}}',
                        processData: false,
                        data: authResult['code'],
                        contentType: 'application/octet-stream; charset=utf-8',
                        success: function(result) {
                            $('#result_message').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                            if (result) {
                                // we returned next safe URL or home page to go to after succesfull login
                                setTimeout(function() {
                                    window.location.href = result;
                                    }, 1000);
                            }
                        }
                    });
                }
                else if (authResult['error']) {
                    console.log('There was an error reported by Google+ API: ' + authResult['error']);
                }
                else {
                    $('#result_message').html('Failed to make a server-side call. Check your configuration and console.');
                }
            }
            </script>
            <!--END GOOGLE PLUS SIGN IN BUTTON -->

            <p class="mt-5 mb-3 text-muted">&copy; {{ config['COPYRIGHT'] }}</p>
        </div>

        <div class="col-md-2">
        </div>

    </div>
{% endblock %}

