{% extends "layouts/auth.html" %}

{% set page_title = 'Register' %}

{% block header_text %}
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
{% endblock %}


{% block row2_center %}
    <form class="form-login" action="" method="POST"}}">
        {{ form.hidden_tag() }}

        <h1 class="h3 mb-3 font-weight-normal">Hello {{ user_email }}, please complete your registration.</h1>

        <label for="password" class="sr-only">{{ form.password.label }}</label>
        {{ form.password(class="form-control", placeholder=form.password.label.text,
            title=form.password.label.text, required=True) }}

        <label for="first_name" class="sr-only">{{ form.first_name.label }}</label>
        {{ form.first_name(class="form-control", placeholder=form.first_name.label.text,
            title=form.first_name.label.text, required=True) }}

        <label for="last_name" class="sr-only">{{ form.last_name.label }}</label>
        {{ form.last_name(class="form-control", placeholder=form.last_name.label.text,
            title=form.last_name.label.text, required=True) }}

        </br>
        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}

        <p class="mt-5 mb-3 text-muted">&copy; {{ config['COPYRIGHT'] }}</p>
    </form>
{% endblock %}

{% block footer %} {% endblock %}
