{% extends 'layouts/catalog.html' %}

{% set page_title = 'Items' %}

{% block card_categories %}
    <div class="card">
        {% if current_user.is_authenticated %}
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('catalog.add_category') }}"
                           title="Add a category to the catalog">Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if category_active %}{% else %}disabled{% endif %}"
                           href="{{ url_for('catalog.edit_category', category_id=category_id) }}"
                           {% if category_active %}title="Edit selected category"{% else %}title="Select a category first"{% endif %}
                           >Edit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if category_active %}{% else %}disabled{% endif %}"
                           href="{{ url_for('catalog.delete_category', category_id=category_id) }}"
                           {% if category_active %}title="Delete selected category and all it's beers"{% else %}title="Select a category first"{% endif %}
                           >Delete</a>
                    </li>
                </ul>
            </div>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title"><b>Categories</b></h5>
            <div class="list-group">
                {% for category in categories %}
                    <a href="{{ url_for('catalog.category_items', category_id=category.id) }}" class="list-group-item list-group-item-action {% if category.id == category_id %}active{% endif %}">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block card_items %}
<div class="card">
    {% if current_user.is_authenticated %}
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link {% if category_active %}{% else %}disabled{% endif %}"
                           href="{{ url_for('catalog.add_category_item', category_id=category_id) }}"
                           {% if category_active %}title="Add an item to selected category"{% else %}title="Select a category first"{% endif %}
                           >Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if item_active %}{% else %}disabled{% endif %}"
                           href="{{ url_for('catalog.edit_category_item', category_id=category_id, item_id=item_id) }}"
                           {% if item_active %}title="Edit selected item"{% else %}title="Select an item first"{% endif %}
                           >Edit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if item_active %}{% else %}disabled{% endif %}"
                           href="{{ url_for('catalog.delete_category_item', category_id=category_id, item_id=item_id) }}"
                           {% if item_active %}title="Delete selected item"{% else %}title="Select an item first"{% endif %}
                           >Delete</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    <div class="card-body">
        <h5 class="card-title"><b>{% if category_active %}{{ category_active.name }}{% endif %} Items</b></h5>
        <div class="list-group">
            {% if item_active %}
                <a href="{{ url_for('catalog.category_item', category_id=category_id, item_id=item_id) }}" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">{{ item_active.name }}</h4>
                    </div>
                    <p class="mb-1">{{ item_active.description }}</p>
                </a>
            {% endif %}
            {% for item in items %}
                {% if item != item_active %}
                    <a href="{{ url_for('catalog.category_item', category_id=category_id, item_id=item.id) }}" class="list-group-item list-group-item-action">{{ item.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
